:root {
  --border: 1px solid #000;
}

* {
  margin: 10;
  padding: 0px 10px 0 10px;
  text-decoration: none;
  font-family: cursive;
}

p {
  font-size: 18px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

nav ul li a {
  color: #000;
}
nav ul li a:hover {
  color: #605151;
  text-decoration: underline;
}

nav p:hover {
  color: #605151;
  cursor: default;
}

.area {
  border: var(--border);

  width: 97%;
  height: 200px;
  margin: 10px;
  padding: 20px;
}

.area p {
  margin-top: 10px;
  padding: 10px;
  color: red;
}

button {
  padding: 10px 24px;
  border-radius: 50px;
  border: solid 1px;
}

button:hover {
  color: rgb(185, 116, 13);
  border-color: #605151;
  cursor: pointer;
}

.testimonial {
  margin: 20px 0 20px 0;
  border: var(--border);
  height: 250px;
  width: 95%;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 10px;
}

.image {
  width: 40px;
  height: 20px;
}
